AUDIO/*
**/__pycache__/
.ipynb_checkpoints/*
*.ipynb
*.csv
*.mp3
*.wav
*.pt
tacotron2_custom3/outdir/*
tacotron2_custom3/out_macron_1h/*
tacotron2_custom3/out_macron_2/*
tacotron2_custom3/out_macron_30_min/*
tacotron2_custom3/out_obama/*
tacotron2_custom3/apex/*
# tacotron2___/*
